*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    color: #263138

}


header{
    background-color: rgb(73, 116, 151);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}

header nav a{
    color: #FFFFFF;
    font-weight: 600;
    padding: 32px; 
    text-decoration: none;
}

#inicio{
    display: flex;
    align-items: center;
    gap: 32px; 
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1,
h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 32px;
}

.botao{
    background-color: #1da50b;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente{
    background-color: transparent;
    color: #6e91a7;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li{
    margin-bottom: 24px;
    margin-left: 32px;
}

#farmacia{
    padding: 64px 80px;
    text-align: center;
}

#farmacia img{
    margin: 35px auto;
}

#farmacia .paragrafo{
    max-width: 950px;
    margin: 0 auto;
}

#duvidas{
    display: flex;
    align-items: center;
    gap: 64px; 
    padding: 64px 80px;
}

.duvida{
    position: relative;
}

.duvida h3{
    border: 2px solid rgb(25, 141, 212);
    border-radius: 8px;
    cursor: pointer;
    padding: 24px; 
 
}

.duvida img{
    position: absolute;
    top: 20px;
    right: 24px;
}

.duvida .paragrafo{
    border-right: 1px solid rgb(25, 141, 212);
    border-bottom: 1px solid rgb(25, 141, 212);
    border-left: 1px solid rgb(25, 141, 212);
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px; 
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 2s;
}

.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer{
    background-color: rgb(174, 199, 221);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer img,
footer .titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a{
    color:#263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p{
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a{
    color: #263138;
    text-decoration: none;
}

#copyright{
    background-color: #263138;
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
}

#copyright a{
    color: #6e91a7
}
